@mixin clear {
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}

@mixin ellipsis($w) {
    width: $w;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin ellipsis2($line, $w, $h) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    width: $w;
    height: $h;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.a {
    @include clear;
    border: 1px solid blue; 
    background: red; 
    
    > div {float: left;}
}

.b{
    @include ellipsis(150px);
}

.c{
    @include ellipsis2( 3, 150px, 66px);
}
